﻿.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff ;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #fff ;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;

}

.jumbotron-heading {
  font-weight: 300;

}

.jumbotron .container {
  max-width: 40rem;

}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #212529;
}

footer p {
  margin-bottom: .25rem;
}
